body{
    margin: 0 auto;
}

.wrapper{
    background: silver;

}

.timenumber-one{
  color: white;
   margin: 20px;
   padding-top: 20px;
   font-size: 30px;
}


.line-timer{
    width: 100%;
    height: 20px;
    background: rgb(125, 182, 21);
    transition: width .1s;
}